*.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
*.adf

*.cpg
*.cst
*.csv

*.dat
*.dbf
*.dir
*.docx

*.gif
*.gpx
*.gz

*.lock
*.log
*.lyr

*.Mysticetus

*.nc
*.nit

*.ovr

*.pdf
*.png
*.prj

*.qpj
*.rds

*.sbn
*.sbx
*.shp
*.shx

*.tar
*.tfw
*.tif
*.txt

*.xml
*.xlsx
*.xls

*.zip
.Rproj.user

nul

output_cemore
output_maps_cemore
summary_cemore
OUTPUT FILES cemore

output_mmcp
output_maps_mmcp
OUTPUT FILES mmcp
summary_mmcp

mmcp_data
acoustic_data
summaries

R/other
R/0.5_Load_data.R
R/1.5_Data_re-processing.R
R/2_Data_exploration.R
R/2b_Data_exploration_mmcp.R
R/5_abundance.R
R/6_segmentation.R

