*.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
*.adf

*.cpg
*.cst
*.csv

*.dat
*.dbf
*.dir
*.docx

*.gif
*.gpx
*.gz

*.lock
*.log
*.lyr

*.Mysticetus

*.nc
*.nit

*.ovr

*.pdf
*.png
*.prj

*.qpj
*.rds

*.sbn
*.sbx
*.shp
*.shx

*.tar
*.tfw
*.tif
*.txt

*.xml
*.xlsx
*.xls

*.zip
.Rproj.user

nul

barplot_sgt_effort.R
hp.R
dp.R
kw.R
hw.R
hp_df_new.Rmd
explore_hp.R

output_cemore
output_maps_cemore
lisa
covariates
summary_cemore
grids
notes
OUTPUT FILES cemore
summaries
reporting
other scripts
output_mmcp
output_maps_mmcp
OUTPUT FILES mmcp
mmcp_data
data_requests
segments
acoustic_data
hydrophone
simple_dsms



R/data_requests
R/development_scripts
R/porpoises
R/rasters
R/other
R/0.5_Load_data.R
R/1.5_Data_re-processing.R
R/2_Data_exploration.R
R/2b_Data_exploration_mmcp.R
R/5_abundance.R
R/6_segmentation.R

